/*头部*/
.main-nav .topnav{height:100px;background:#bf153d;}
.main-nav .topnav .countdown{width:1190px;margin:0 auto;}
.main-nav .banner{min-width:1190px;height:540px;_width:1190px;}
.main-nav .countdown .footprint{overflow:hidden;max-width:160px;max-height:100px;margin:34px 177px 0 0;cursor:pointer;}
.main-nav .countdown .get-time{margin:18px 40px 0 60px;color:#fcf72c;}
.main-nav .get-time span.font-16{font-size:16px;}
.main-nav .get-time span.time{font-size:16px;line-height:32px;display:inline-block;width:32px;height:32px;margin:0 2px;text-align:center;color:#fff;border-radius:5px;background:#3d0015;}
.main-nav .get-time p.times{margin:0 0 8px 0;}
.main-nav .get-time p.dates{font-size:24px;line-height:25px;margin-top:22px;}
.main-nav .get-time p.times+.dates{margin-top:0;}
.main-nav .information{margin:16px 0 0 0;}
.main-nav .information .info-wrap{margin-top:8px;}
.main-nav .information a{line-height:32px;height:32px;text-align:center;color:#fff;background:url(../../static/images/20160521/homepage/iconbg.png) no-repeat;}
.main-nav .information a i{display:inline-block;width:20px;height:19px;margin:0 8px -4px 0;background:url(../../static/images/20160521/homepage/iconbg.png) no-repeat;}
.main-nav .information .message{display:block;width:279px;background-position:0 -540px;}
.main-nav .information .message i{height:20px;margin:0 8px -4px -19px;background-position:-140px -466px;}
.main-nav .information .message:hover i{background-position:-285px -710px;}
.main-nav .information a:hover{color:#fcff00;}
.main-nav .information a.know-more{width:161px;margin-right:14px;background-position:0 -490px;}
.main-nav .information a.know-more i{background-position:-164px -440px;}
.main-nav .information a.know-more:hover i{background-position:-255px -710px;}
.main-nav .information a.map{width:105px;background-position:0 -440px;}
.main-nav .information a.map i{width:13px;height:17px;background-position:-120px -440px;}
.main-nav .information a.map:hover i{background-position:-235px -710px;}
.main-nav .banner .apply-wrap{width:1190px;margin:0 auto;}
.main-nav .banner .apply{width:334px;height:480px;margin-top:30px;background:#fff;}
.main-nav .apply .sign-num{font-size:20px;font-weight:bold;line-height:48px;height:91px;text-align:center;color:#eb1e4f;}
.main-nav .apply .sign-num span{font-size:32px;display:inline-block;width:172px;height:67px;color:#fff;background:url(../../static/images/20160521/homepage/iconbg.png) -200px -440px no-repeat;}
.main-nav .apply .why-cheap{font-size:13px;line-height:34px;height:34px;color:#fff;background:#000;}
.main-nav .apply .why-cheap span{padding:0 14px 0 2px;}
.main-nav .apply .why-cheap a{text-decoration:underline;color:#fff;}
.main-nav .apply .why-cheap a i{font-style:normal;color:#fcf72c;}
.main-nav .apply .apply_tab{margin-bottom:20px;}
.main-nav .apply .apply_tab .apply_tab_content{width:167px;height:58px;font-size:18px;line-height:58px;color:#404040;background:#f8f8f8;text-align:center;border-bottom:1px solid #ebebeb;cursor:pointer;}
.main-nav .apply .apply_tab .apply_tab_content.active{background:#fff;color:#db0235;border-color:transparent;}
.main-nav .apply .apply_tab .apply_tab_content i{display:inline-block;width:19px;height:18px;margin:0 6px -3px 0;background:url(../../static/images/common/common.png);}
.main-nav .apply .apply_tab .apply_tab_lp i{background-position:0 -400px;}
.main-nav .apply .apply_tab .apply_tab_lp.active i{background-position:-30px -400px;}
.main-nav .apply .apply_tab .apply_tab_bj i{background-position:-60px -400px;}
.main-nav .apply .apply_tab .apply_tab_bj.active i{background-position:-90px -400px;}

.apply-wrap .apply_nums{height:30px;font-size:16px;line-height:30px;color:#333;text-align:center;margin:20px 0 5px;}
.apply-wrap .apply_nums>p>i{display:inline-block;width:30px;height:30px;line-height:30px;font-size:24px;font-style:normal;color:#fff;margin-right:3px;background:url(../../static/images/common/common.png) -460px -60px no-repeat;}
.apply-wrap .apply_nums>p>i.i1{margin-left:10px;}
.apply-wrap .apply_nums>p>i.i3{margin-right:3px;}


.main-nav .form .base-input,.from-wrap .form .base-input{position:relative;width:280px;height:40px;margin:12px auto 0;outline:0;background:url(../../static/images/20160521/homepage/iconbg.png) -100px -590px no-repeat;}
.main-nav .form .base-input input,.from-wrap .form .base-input input{font-family:'Microsoft Yahei';position:absolute;z-index:9;top:1px;left:1px;width:266px;height:38px;padding-left:12px;border:0 none;background:transparent;}
.main-nav .form .base-input .js_tips,.from-wrap .form .base-input .js_tips{font-family:'Microsoft Yahei';font-size:12px;line-height:38px;position:absolute;top:0;right:6px;color:#ababab;}
.from-wrap .form .base-input .js_tips .xing{vertical-align:middle;}
.main-nav .form .verify-input,.from-wrap .form .verify-input{position:relative;width:88px;height:40px;margin-left:40px;outline:0;background:url(../../static/images/20160521/homepage/iconbg.png) 0 -590px no-repeat;}
.main-nav .form .verify-wrap{margin-top:15px;}
.main-nav .form .verify-input .verify-code,.from-wrap .form .verify-input .verify-code{font-family:'Microsoft Yahei';position:absolute;top:1px;left:1px;width:74px;height:38px;padding-left:12px;border:0 none;}
.main-nav .form .base-input input{line-height:26px;height:26px;padding:6px 0 6px 12px;}
.main-nav .form .get_code{position:absolute;top:0;right:0;width:125px;font-size:14px;height:40px;line-height:40px;color:#fff;background:#18b4ed;z-index:9;}
.main-nav .form .verify-input .verify-code{line-height:26px;height:26px;padding:5px 0 5px 12px;}
.main-nav .form .verify-input{margin-left:28px;}
.main-nav .form .verify-wrap .verify-img{margin:4px 4px 0 6px;cursor:pointer;}
.main-nav .form .verify-wrap .js_rush{font-family:'Microsoft Yahei';font-size:12px;line-height:42px;color:#ababab;}
.main-nav .form .tickets{margin:14px 0 0 0;text-align:center;}
.main-nav .form .tickets select{width:40px;height:22px;}
.main-nav .form .tickets .txts{font-size:12px;margin-left:10px;color:#636363;}
.main-nav .xing{margin-right:2px;color:#ec3833;}
.main-nav .form .tickets .txts{font-size:12px;margin-left:10px;color:#636363;}
.main-nav .form .button{margin:12px 0;text-align:center;}
.main-nav .form .button button{font-family:'Microsoft Yahei';font-size:18px;width:280px;height:40px;margin:0 auto;color:#fff;border:0 none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#d10024;}
.main-nav .form .button button:hover{background:#dc1846;}
.main-nav .xing{margin-right:2px;vertical-align:middle;color:#ec3833;}
.main-nav .scroll-wrap{height:87px;border-top:1px solid #ccc;padding:0 20px;}
.main-nav .scroll-wrap .scroll_info{font-size:12px;line-height:12px;color:#333;margin:16px 0 2px;}
.main-nav .scroll-wrap .scroll_info i{display:inline-block;width:17px;height:12px;margin:0 6px -1px 0;background:url(../../static/images/common/common.png) -300px -200px no-repeat;}
.main-nav .scroll-wrap .scroll_info span{color:#d10024;}

/*砍价师*/
.menu{height:875px;padding-top:50px;background:#ffd117;}
.menu .menu-wrap{width:1190px;margin:0 auto;}
.menu .step{line-height:109px;width:1072px;height:109px;margin:0 auto 66px;background:url(../../static/images/20160521/homepage/menu_line.png) left center no-repeat;}
.menu .img-wrap{width:194px;margin-left:72px;}
.menu .mouse{margin-left:60px;}
.menu .img-wrap span{font-size:18px;margin-left:8px;color:#fff;}
.menu .bargain .title{color:#e23632;}
.menu .bargain .title .gold{font-size:30px;line-height:30px;margin-top:6px;}
.menu .bargain .title .thousand{font-size:15px;line-height:15px;margin:22px 20px 0 14px;}
.menu .bargain .title .order{line-height:37px;display:inline-block;width:145px;height:37px;background:url(../../static/images/20160521/homepage/header_bak.png) -100px -150px no-repeat;}
.menu .title .order span{font-size:18px;margin-left:14px;color:#fff;}
.menu .introduce{width:603px;height:324px;margin-top:18px;}
.menu .introduce .yao-img{width:296px;height:324px;}
.menu .introduce .text{width:260px;height:324px;padding:0 26px 0 21px;background:#fff;}
.menu .introduce .text .headline{font-size:20px;line-height:53px;height:53px;margin-bottom:21px;border-bottom:1px solid #b1b1b1;}
.menu .introduce  .referral dl{margin-bottom:20px;*margin-bottom:10px;}
.menu .introduce  .referral dt{font-size:12px;float:left;width:46px;height:20px;text-align:center;color:#fff;background:#e23632;}
.menu .introduce  .referral dd{float:left;width:202px;margin-left:12px;}
.menu .notice{margin-left:10px;color:#e23632;}
.menu .notice .sign{font-size:30px;line-height:30px;margin-top:6px;}
.menu .notice .save{font-size:15px;line-height:15px;margin:22px 0 0 14px;}
.menu .benefit{width:576px;margin-top:16px;}
.menu .benefit li{float:left;margin-right:5px;*margin-right:0;}
.menu .lightspot{margin-top:48px;color:#e23632;}
.menu .lightspot .ld{font-size:30px;line-height:30px;margin-top:6px;}
.menu .lightspot .zy{font-size:15px;line-height:15px;margin:22px 0 0 0;}
.menu .matter{margin-top:18px;}
.menu .matter .rank-img{position:relative;overflow:hidden;width:1190px;height:150px;background:#fff;}
.menu .matter .rank-img div{position:absolute;top:0;overflow:hidden;width:650px;height:150px;}
.menu .matter .rank-img .rank-img-1{z-index:1;left:0;}
.menu .matter .rank-img .rank-img-2{z-index:2;left:650px;}
.menu .matter .rank-img .rank-img-3{z-index:3;left:920px;}

/*一分钟了解安团，预约小区户数*/
.about-act-wrap{padding:15px 0 14px;background:#f8f8f8;}
.about-act{width:1200px;height:111px;margin:0 auto;}
.about-act .about-at,.about-act .fast-bj{width:283px;height:111px;margin-right:9px;position:relative;}
.about-act .about-at{background:url(../../static/images/index/oneminute.jpg);}
.about-act .fast-bj{background:url(../../static/images/index/fastbj.jpg);}
.about-act .about-at a,.about-act .fast-bj a{width:90px;height:26px;line-height:26px;text-align:center;font-size:14px;border:1px solid #DC7804;color:#DC7804;    display:inline-block;position:absolute;bottom:8px;left:20px;}
.about-act .fast-bj a{border-color:#4D8692;color:#4D8692;}
.about-act .about-at a:hover{background:#dc7804;color:#fff;}
.about-act .about-at a:active{background:#d27100;color:#fff;}
.about-act .fast-bj a:hover{background:#4d8692;color:#fff;}
.about-act .fast-bj a:active{background:#19778b;color:#fff;}
.about-act .at-video .small-player{position:fixed;z-index:1002;top:auto;right:0;bottom:104px;width:310px;height:175px;padding:2px;opacity:1;background:#fff;}
.about-act .at-video .small-player .js_close_atv{position:absolute;top:14px;right:14px;width:16px;height:16px;background:url(../../static/images/common/common.png) -80px -50px no-repeat;}

.about-act .s-slide{position:relative;overflow:hidden;width:908px;height:111px;}
.about-act .s-slide-pic{position:absolute;top:0;left:17px;width:873px;height:111px;text-align:center;overflow:hidden;}
.about-act .s-slide-pic ul{position:absolute;height:111px;left:0;}
.about-act .s-slide-pic ul li{float:left;width:873px;height:111px;padding:0;overflow-y:hidden;}
.about-act .s-slide-pic ul li img{width:283px;height:111px;}
.about-act .s-dots{line-height:10px;position:absolute;z-index:2;top:90px;left:50%;width:867px;height:10px;margin-left:-434px;text-align:center;display:none;}
.about-act .s-dots span,
.about-act .s-but .prev,
.about-act .s-but .prev:active,
.about-act .s-but .next,
.about-act .s-but .next,
.about-act .s-but .next:active{background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;}
.about-act .s-dots span{display:inline-block;width:10px;height:10px;margin-right:5px;cursor:pointer;background-position:-365px -180px;}
.about-act .s-dots span.set{background-position:-380px -180px;}
.about-act .s-but{/*display:none;*/position:absolute;z-index:3;top:0;left:50%;width:908px;height:111px;margin-top:0;margin-left:-454px;}
.about-act .s-but .prev,.about-act .s-but .next,.about-act .s-but .prev:active{display:block;width:18px;height:111px;cursor:pointer;}
.about-act .s-but .prev{float:left;background-position:0 -70px;}
.about-act .s-but .prev:hover{background-position:-50px -70px;}
.about-act .s-but .prev:active{background-position:-100px -70px;}
.about-act .s-but .next{float:right;background-position:-25px -70px;}
.about-act .s-but .next:hover{background-position:-75px -70px;}
.about-act .s-but .next:active{background-position:-125px -70px;}
.about-act .small-player{position:fixed;z-index:1002;top:auto;right:0;bottom:104px;width:310px;height:175px;padding:2px;opacity:1;background:#fff;}
.about-act .small-player .js_close_atv{position:absolute;top:14px;right:14px;width:16px;height:16px;background:url(../../static/images/common/common.png) -80px -50px no-repeat;}

/*小区已预约*/
.order-houses .house_item{position:relative;overflow:hidden;width:283px;height:111px;display:inline-block;float:left;margin:0 4px;}
/*.order-houses .house_item:last-child{margin-right:0;}*/
/*.order-houses .house_item.odd{margin-right:9px;}*/
.order-houses .house_item>img{position:absolute;left:0;top:0;z-index:1;width:283px;height:111px;}
.order-houses .markbg{position:absolute;left:0;top:28px;width:282px;height:57px;background:#000;opacity:.3;background:#000;filter:alpha(opacity=30);-moz-opacity:.3;z-index:2;}
.order-houses .order-num{position:absolute;left:0;top:35px;font-size:16px;line-height:24px;z-index:2;color:#fff;text-align:center;}
.order-houses .order-num p{margin:0 auto;width:283px;height:20px;overflow:hidden;}
.order-houses .order-num em{font-style:normal;font-size:18px;}

/*参加安团的优势*/
.at-advtange{width:1200px;margin:60px auto 0;}
.at-advtange .base-headline,
.at-brand .base-headline,
.at-reason .base-headline,
.at-special .base-headline,
.at-history .base-headline,
.at-notice .base-headline,
.at-introduce .base-headline,
.at-media .base-headline,
.at-voice .base-headline,
.at-voucher .base-headline,
.at-vip .base-headline,
.at-superior .base-headline,
.at-prize .base-headline,
.at-traffic .base-headline{height:40px;background:url(../../static/images/index/titlebg.png) repeat-x 0 20px;text-align:center;font-size:24px;line-height:40px;}
.at-advtange .base-headline h3,
.at-brand .base-headline h3,
.at-reason .base-headline h3,
.at-special .base-headline h3,
.at-history .base-headline h3,
.at-notice .base-headline h3,
.at-introduce .base-headline h3,
.at-media .base-headline h3,
.at-voice .base-headline h3,
.at-voucher .base-headline h3,
.at-vip .base-headline h3,
.at-superior .base-headline h3,
.at-prize .base-headline h3,
.at-traffic .base-headline h3{font-size:36px;color:#333;display:inline;padding:0 20px;background-color:#fff;font-weight:500;font-family:"Microsoft Yahei";}
.at-advtange .base-title p,.at-brand .base-title p,
.at-reason .base-title p,.at-special .base-title p,
.at-history .base-title p,.at-notice .base-title p,
.at-introduce .base-title p,.at-media .base-title p,
.at-voice .base-title p,.at-vip .base-title p,
.at-superior .base-title p,.at-prize .base-title p,
.at-traffic .base-title p{font-size:16px;color:#333;margin-top:15px;text-align:center;}
.at-advtange .base-title p,.at-brand .base-title p,.at-reason .base-title p,.at-special .base-title p,.at-history .base-title p,.at-notice .base-title p,.at-voucher .base-title p,.at-voice .base-title p,.at-vip .base-title p,.at-superior .base-title p,.at-prize .base-title p,.at-traffic .base-title p{font-size:16px;color:#333;margin-top:15px;text-align:center;}
.at-advtange .at-advtange-left{width:591px;height:664px;overflow:hidden;margin-top:16px;}
.at-advtange .at-advtange-right{width:589px;margin:16px 0 0 20px;overflow:hidden;}
.at-advtange-right .advtange-item{width:589px;height:202px;overflow:hidden;margin-top:29px;}
.at-advtange-right .price-advtange{margin-top:0;}
.advtange-item h4{font-size:24px;color:#333;padding-bottom:5px;border-bottom:2px solid #DB0238;display:inline-block;font-weight:500;font-family:"SimHei";line-height:26px;}
.advtange-item ul{margin-top:13px;}
.advtange-item ul li{width:187px;height:160px;margin-right:14px;float:left;position:relative;overflow:hidden;}
.advtange-item ul li.blue{margin-right:0;background:#E2E8F5;}
.advtange-item ul li.yellow{background:#EFE9DF;}
.advtange-item ul li.pink{background:#EFE3F6;}
.advtange-item ul li p{font-size:13px;color:#999;margin:8px 0 0 10px;}
.advtange-item ul li p.bt{width:90px;height:30px;line-height:30px;text-align:center;font-size:18px;color:#fff;margin:7px 0 0 7px;}
.advtange-item ul li.yellow p.bt{background:#A5884F;}
.advtange-item ul li.pink p.bt{background:#A286B1;}
.advtange-item ul li.blue p.bt{background:#6E8ACB;}
.advtange-item ul li i{display:inline-block;background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;position:absolute;}
.advtange-item ul li i.i1{width:90px;height:90px;background-position:0 -200px;bottom:-12px;left:47px;}
.advtange-item ul li i.i2{width:85px;height:86px;background-position:-104px -200px;bottom:-3px;left:62px;}
.advtange-item ul li i.i3{width:90px;height:100px;background-position:-205px -200px;bottom:-15px;left:51px;}
.advtange-item ul li i.i4{width:84px;height:104px;background-position:0 -310px;bottom:-26px;left:45px;}
.advtange-item ul li i.i5{width:162px;height:51px;background-position:-100px -315px;bottom:14px;left:12px;}
.advtange-item ul li i.i6{width:82px;height:83px;background-position:-305px -200px;bottom:-5px;left:53px;}
.advtange-item ul li i.i7{width:147px;height:47px;background-position:-100px -375px;bottom:23px;left:19px;}
.advtange-item ul li i.i8{width:97px;height:71px;background-position:-295px -305px;bottom:8px;left:40px;}
.advtange-item ul li i.i9{width:161px;height:62px;background-position:0 -425px;bottom:10px;left:16px;}

/*参展品牌*/
.at-brand{width:1200px;margin:60px auto;}
.at-brand .classify-scroll,.at-special .classify-scroll,.at-voucher .classify-scroll{margin-top:40px;height:75px;}
.classify-scroll .left-btn,.classify-scroll .right-btn{display:inline-block;width:18px;height:74px;background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;cursor:pointer;float:left;}
.classify-scroll .left-btn{background-position:-150px -70px;}
.classify-scroll .left-btn:hover{background-position:-200px -70px;}
.classify-scroll .left-btn:active{background-position:-250px -70px;}
.classify-scroll .right-btn{background-position:-175px -70px;}
.classify-scroll .right-btn:hover{background-position:-225px -70px;}
.classify-scroll .right-btn:active{background-position:-275px -70px;}
.classify-list-scroll{width:1164px;height:74px;overflow:hidden;color:#fff;white-space:nowrap;float:left;}
/*.classify-list-scroll .classify-list{position:relative;width:1164px;height:74px;overflow:hidden;} */
.classify-list-scroll .classify-list{position:relative;}
.classify-list li{float:left;display:inline-block;width:96px;height:74px;margin-right:1px;text-align:center;background:#f5f5f5;cursor:pointer;}
.classify-list li i{display:inline-block;background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;margin-top:18px;}
.classify-list li i.classify-1{width:27px;height:23px;background-position:0 0;margin-top:17px;}
.classify-list li i.classify-2{width:22px;height:22px;background-position:-40px 0;}
.classify-list li i.classify-3{width:22px;height:22px;background-position:-105px 0;}
.classify-list li i.classify-4{width:23px;height:23px;background-position:-135px 0;margin-top:17px;}
.classify-list li i.classify-5{width:18px;height:22px;background-position:-165px 0;}
.classify-list li i.classify-6{width:22px;height:22px;background-position:-75px 0;margin-top:17px;}
.classify-list li i.classify-7{width:16px;height:24px;background-position:-195px 0;margin-top:15px;}
.classify-list li i.classify-8{width:21px;height:22px;background-position:-220px 0;margin-top:15px;margin-bottom:3px;}
.classify-list li i.classify-9{width:19px;height:23px;background-position:-250px 0;}
.classify-list li i.classify-10{width:23px;height:29px;background-position:-280px 0;margin-top:11px;}
.classify-list li i.classify-11{width:22px;height:22px;background-position:-315px 0;}
.classify-list li i.classify-12{width:22px;height:22px;background-position:-345px 0;}
.classify-list li i.classify-13{width:22px;height:21px;background-position:-375px 0;}
.classify-list li i.classify-14{width:19px;height:22px;background-position:-405px 0;margin-top:17px;}
.classify-list li i.classify-15{width:24px;height:21px;background-position:-435px 0;}
.classify-list li.active{background:#DB0336;}
.classify-list li.active i.classify-1{background-position:0 -35px;}
.classify-list li.active i.classify-2{background-position:-40px -35px;}
.classify-list li.active i.classify-3{background-position:-105px -35px;}
.classify-list li.active i.classify-4{background-position:-135px -35px;}
.classify-list li.active i.classify-5{background-position:-165px -35px;}
.classify-list li.active i.classify-6{background-position:-75px -35px;}
.classify-list li.active i.classify-7{background-position:-195px -35px;}
.classify-list li.active i.classify-8{background-position:-220px -35px;}
.classify-list li.active i.classify-9{background-position:-250px -35px;}
.classify-list li.active i.classify-10{background-position:-280px -35px;}
.classify-list li.active i.classify-11{background-position:-315px -35px;}
.classify-list li.active i.classify-12{background-position:-345px -35px;}
.classify-list li.active i.classify-13{background-position:-375px -35px;}
.classify-list li.active i.classify-14{background-position:-405px -35px;}
.classify-list li.active i.classify-15{background-position:-435px -35px;}
.classify-list li span{font-size:16px;color:#333;display:block;margin-top:5px;}
.classify-list li.active span{color:#fff;}

.at-brand .at-brandlist{margin-top:16px;width:1200px;overflow:hidden;padding-bottom:8px;}
.at-brand .at-brandlist ul{margin-right:-12px;*width:1212px;}
.at-brand .at-brandlist ul li{float:left;width:228px;height:99px;border:1px solid #dcdcdc;overflow:hidden;margin-right:12px;/**margin-right:10px;*/margin-bottom:12px;}
.at-brand .at-brandlist ul li.mrnone{margin-right:0;}
.at-brand .at-brandlist ul li a,.at-brand .at-brandlist ul li img{width:228px;height:99px;}
.at-brand .brand_note{font-size:18px;color:#333;margin-top:10px;}
.at-brand .at-brandlist ul li.brand_empty{width:222px;height:222px;float:none;margin:30px auto;background:url(../../static/images/index/brand_empty.png);border:none;}

/*五大理由 非来不可*/
.at-reason{width:1200px;margin:60px auto 0;}
.at-reason .reasonlist{margin-top:16px;width:100%;height:689px;}
.at-reason .reasonlist li{width:378px;float:left;margin-right:33px;}
.at-reason .reasonlist li.mrnone{margin-right:0;}
.at-reason .reasonlist li .reason-num{width:55px;height:323px;background:#FBE4EA;float:left;margin-right:3px;position:relative;}
.at-reason .reasonlist li .reason-num i{display:inline-block;height:35px;background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;position:absolute;left:50%;top:50%;margin-top:-17px;margin-left:-24px;}
.at-reason .reasonlist li .reason-num i.i1{width:39px;background-position:-305px -70px;margin-left:-20px;}
.at-reason .reasonlist li .reason-num i.i2{width:47px;background-position:-360px -70px;}
.at-reason .reasonlist li .reason-num i.i3{width:47px;background-position:-415px -70px;}
.at-reason .reasonlist li .reason-num i.i4{width:48px;background-position:-305px -115px;}
.at-reason .reasonlist li .reason-num i.i5{width:48px;background-position:-360px -115px;}
.at-reason .reasonlist li .reason-desc{width:320px;height:323px;background:url(../../static/images/index/reasonbg.png) 0 72px no-repeat;float:left;text-align:center;}
.at-reason .reasonlist li h4{font-size:32px;font-weight:normal;color:#000;margin-top:40px;letter-spacing:5px;}
.at-reason .reasonlist li p{font-size:16px;color:#666;line-height:24px;width:234px;margin:14px auto 0;text-align:left;}
.at-reason .reason-one{width:1200px;height:323px;}
.at-reason .reason-two{width:790px;margin:43px auto 0;}

/*爆款商品*/
.at-special{width:1200px;margin:60px auto 0;}
.at-special .speciallist{margin-top:16px;}
.at-special .speciallist ul{margin-right:-12px;*width:1212px;}
.at-special .speciallist li{width:594px;height:294px;background:#F5F5F5;margin:0 12px 12px 0;/**margin-right:6px;*/float:left;cursor:pointer;overflow:hidden;}
.at-special .speciallist li .special-unit{width:594px;height:294px;position:relative;}
.at-special .speciallist ul li.product_empty{width:259px;height:221px;float:none;margin:30px auto;background:url(../../static/images/index/product_empty.png);}
.at-special .at-special-img{width:274px;height:274px;overflow:hidden;float:left;margin:10px 0 0 10px;}
.at-special .at-special-img img{width:274px;height:274px;vertical-align:middle;}
.at-special .at-special-content{position:relative;margin-left:15px;float:left;width:278px;height:284px;overflow:hidden;}
.at-special .at-special-content h3{font-size:22px;line-height:22px;color:#000;width:278px;margin-top:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:normal;}
.at-special .special_caption{font-size:16px;color:#454545;margin-top:13px;line-height:16px;height:16px;}
.at-special .special-content_wrap{position:relative;margin-top:16px;}
.at-special .special-content_nums{font-size:16px;color:#454545;line-height:16px;}
.at-special .at-special-content_step{width:155px;height:10px;position:absolute;left:120px;top:50%;margin-top:-5px;}
.at-special .progress{background:#D8D8D8;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.at-special .progress-bar{position:absolute;left:0;top:0;background:#cd0000;width:100%;max-width:100%;height:100%;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.at-special .progress-full{display:inline-block;position:absolute;right:0;bottom:-1px;width:23px;height:32px;background:url(../../static/images/index/progress_full.png);background-size:100%;}
.at-special .special-content_price{margin-top:42px;}
.at-special .special_atj,.at-special .special_dmj{font-size:16px;color:#454545;}
.at-special .special_atj{margin-top:16px;}
.at-special .special_atj b{font-size:26px;color:#cd0000;}
.at-special .special-order{display:block;width:270px;height:42px;line-height:42px;text-align:center;background:#cd0000;color:#fff;font-size:22px;margin-top:21px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.at-special .loadspecial{}
.at-special .loadmore,.at-voucher .loadmore,.at-prize .loadmore{width:288px;height:38px;margin:22px auto 40px;text-align:center;color:#cd0000;font-size:22px;}
.at-special .loadmore a,.at-voucher .loadmore a,
.at-prize .loadmore a{display:inline-block;width:288px;height:38px;line-height:38px;border:1px solid #cd0000;text-align:center;color:#cd0000;}
.at-special .loadmore a:hover,.at-voucher .loadmore a:hover,.at-prize .loadmore a:hover{background:#cd0000;color:#fff;}
.at-special .loadmore i.loading,.at-voucher .loadmore i.loading,.at-prize .loadmore i{width:31px;height:31px;margin:4px 10px 0 67px;background-image:url(../../static/images/common/load.gif);display:inline-block;float:left;}
.at-special .loadmore span,.at-voucher .loadmore span,.at-prize .loadmore span{float:left;line-height:38px;}

/*代金卷*/
.at-voucher{width:1200px;margin:60px auto;}
.voucherlist{margin:16px 0;}
.voucherlist ul{width:1210px;}
.voucherlist li{position:relative;float:left;width:295px;height:144px;margin:0 6px 5px 0;cursor:pointer;}
.voucherlist li.list_pink{background:url(../../static/images/20160521/homepage/v_pink.png) no-repeat;}
.voucherlist .voucher-unit{position:relative;height:100%;}
.voucherlist .voucher-text{position:absolute;left:0;top:0;float:left;width:228px;height:116px;padding:28px 0 0 10px;background:url(../../static/images/20160521/homepage/v_purple.png) no-repeat;z-index:9;}
.voucherlist .list_purple .voucher-text{background:url(../../static/images/20160521/homepage/v_purple.png) no-repeat;}
.voucherlist .list_pink .voucher-text{background:url(../../static/images/20160521/homepage/v_pink.png) no-repeat;}
.voucherlist .voucher-unit h3{font-size:26px;line-height:26px;font-weight:normal;color:#fff;margin-bottom:14px;}
.voucherlist .voucher-unit .voucher-figure>span{font-family: Impact;font-size:47px;line-height:60px;color:#fff;}
.voucherlist .voucher-unit .voucher-figure>span>i{font-size:26px;font-style:normal;}
.voucherlist .voucher-unit .voucher-figure{position:relative;}
.voucherlist .voucher-unit .voucher-cond{position:absolute;top:6px;right:8px;}
.voucherlist .voucher-unit .voucher-cond>p{width:92px;text-align:center;}
.voucherlist .list_purple .voucher-unit .voucher-cond>p{background:#8020ca;}
.voucherlist .list_pink .voucher-unit .voucher-cond>p{background:#d50830;}
.voucherlist .voucher-unit .voucher-mj{font-size:12px;height:18px;line-height:18px;color:#fff;border-radius:2px;margin-bottom:3px;}
.voucherlist .voucher-unit .voucher-rq{font-size:16px;height:24p;line-height:24px;color:#fff;border-radius:2px;}
.voucherlist .voucher-unit .voucher-rq>i{display:inline-block;width:16px;height:20px;margin:0 1px -3px 0;background:url(../../static/images/common/common.png) -500px -60px no-repeat;}
.voucherlist .voucher-unit .voucher-btn{position:absolute;right:0;top:0;float:left;width:48px;height:94px;padding:50px 0 0 10px;}
.voucherlist .list_purple .voucher-btn:hover{background:#d081ff;}
.voucherlist .list_pink .voucher-btn:hover{background:#ffa4b5;}
.voucherlist .voucher-unit .voucher-btn:hover>span{color:#fff;}
.voucherlist .list_purple .voucher-btn{background:#e3b3ff;}
.voucherlist .list_pink .voucher-btn{background:#fdc7d1;}
.voucherlist .voucher-unit .voucher-btn>span{font-size:18px;line-height:26px;font-weight:bold;}
.voucherlist .list_purple .voucher-btn>span{color:#8020ca;}
.voucherlist .list_pink .voucher-btn>span{color:#d50830;}
.voucherlist .voucher-unit .voucher-btn>p{font-size:12px;line-height:12px;}
.voucherlist .list_purple .voucher-btn>p{color:#a80ee5;}
.voucherlist .list_pink .voucher-btn>p{color:#d50830;}

/*我们的力度*/
.at-superior{width:1200px;margin:60px auto;}
.at-superior .superior-step{margin:16px 0 39px;}
.at-superior .superior-text{border:1px solid #d1d1d1;}
.at-superior .superior-contrast{margin:20px 0 14px;}
.at-superior .superior-contrast dl{font-size:18px;line-height:18px;color:#000;}
.at-superior .superior-contrast dl.dl-left{width:546px;text-align:right;padding-right:54px;border-right:1px dashed #acacac;}
.at-superior .superior-contrast dl.dl-right{width:548px;text-align:left;padding-left:48px;}
.at-superior .superior-contrast dt{margin-bottom:8px;}
.at-superior .superior-contrast dd{line-height:33px;font-weight:lighter;}
.at-superior .form-table{width:1197px;}
.at-superior .form-tit-wrap{width:100%;height:48px;line-height:48px;text-align:center;font-size:18px;color:#000;border-width:1px 0 1px;border-style:dashed;border-color:#e5e5e5;}
.at-superior .form-con-wrap{width:100%;height:100px;line-height:100px;text-align:center;font-size:18px;color:#000;}
.at-superior .form-con-wrap .form-control{width:199px;margin:12px auto 0;}
.at-superior .form-con-wrap .form-control-l{width:164px;}
.at-superior .form-con-wrap .form-control-r{width:34px;}
.at-superior .form-con-wrap .form-p-black{height:37px;line-height:37px;background:#333;color:#fff;margin-bottom:1px;}
.at-superior .form-con-wrap .form-p-red{height:37px;line-height:37px;background:#db0235;color:#fff;}
.at-superior .form-con-wrap .form-p-yellow{height:75px;line-height:24px;background:#f3dc10;color:#db0235;}
.at-superior .col-md-4{float:left;width:25%;height:100%;}
.at-superior .form-bot-bor{border-bottom:1px dashed #e5e5e5;}
.at-superior .superior-caption{font-size:16px;line-height:30px;color:#808080;padding-left:2px;}

/*下单送豪礼*/
.at-prize{width:1200px;margin:0 auto;}
.at-prize .prizelist{}
.at-prize .prizelist ul{width:1209px;margin:16px 0 28px 0;}
.at-prize .prizelist li{position:relative;float:left;width:392px;height:268px;border:1px solid #dcdcdc;margin:0 9px 8px 0;cursor:pointer;}
.at-prize .prizelist li>p{position:absolute;left:0;bottom:0;width:100%;height:47px;font-size:20px;line-height:47px;color:#000;text-align:center;/*background:#fff;opacity:.7;filter:alpha(opacity=70);*/background:rgba(255, 255, 255, .7);}


/*VIP服务*/
.at-vip{width:1200px;margin:60px auto;}
.viplist>p{font-size:18px;color:#bf153d;padding:16px 0 14px;border-bottom:1px solid #000;}
.viplist li{height:56px;line-height:56px;color:#262626;border-top:1px solid #e5e5e5;}
.viplist li.border-none{border-top:none;}
.viplist li .viplist-title{font-size:18px;color:#000;font-weight:lighter;width:auto;margin:0 309px 0 0;}
.viplist li .viplist-sell,.viplist li .viplist-receive{width:118px;font-size:18px;text-align:center;}
.viplist li .viplist-sell{margin-right:73px;}
.viplist li div>p>i{display:block;width:30px;height:30px;margin:15px auto 0;background-image:url(../../static/images/common/common.png);}
.viplist li .viplist-receive>p>a{display:inline-block;width:116px;height:35px;line-height:35px;background:#db0235;color:#fff;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;}
.viplist li i.unsupport{background-position:-255px -280px;}
.viplist li i.need{background-position:-295px -280px;}

/*交通地图*/
.at-traffic{width:1200px;margin:60px auto;}
#at-map{width:1200px;height:294px;margin:16px 0 0;background:#ccc;}
.at-map-wrap{position:relative;}
.at-map-btn{position:absolute;top:8px;right:10px;}
.at-map-btn>a{display:block;width:68px;height:36px;line-height:36px;font-size:22px;color:#000;background:#fff;border:1px solid #c9c9c9;border-radius:4px;text-align:center;}
.at-traffic .traffic-head{width:100%;height:65px;line-height:65px;border-bottom:1px solid #e5e5e5;margin-bottom:14px;}
.at-traffic .traffic-head .traffic-tophone{width:173px;height:38px;line-height:38px;text-align:center;margin-top:14px;background:#db0235;border-radius:4px;}
.at-traffic .traffic-head .traffic-tophone>a{display:block;font-size:20px;color:#fff;}
.at-traffic .traffic-tab{margin-right:173px;}
.at-traffic .traffic-tab>a{position:relative;display:inline-block;font-size:22px;line-height:64px;color:#000;padding:0 8px;margin-right:24px;}
.at-traffic .traffic-tab>a.active{font-size:24px;color:#db0235;}
.at-traffic .traffic-tab>a:hover{color:#db0235;}
.at-traffic .traffic-tab>a.active,.at-traffic .traffic-tab>a:hover{border-bottom:2px solid #db0235;}
.at-traffic .traffic-tab>a.active:after,.at-traffic .traffic-tab>a:hover:after{position:absolute;left:50%;bottom:-2px;content:'';width:8px;height:7px;margin-left:-4px;background:url(../../static/images/common/common.png) -80px -430px no-repeat;}
.at-traffic .traffic-content dl{font-size:18px;line-height:37px;color:#000;padding:15px 0 9px;border-bottom:1px dashed #e6e6e6;}
.at-traffic .traffic-content dl a{font-size:18px;line-height:37px;color:#000;}
.at-traffic .traffic-content .at-map-tips{font-size:22px;line-height:22px;color:#d42222;margin:12px 0;}

/*上下滚动*/
.scrollup{position:relative;z-index:2;margin:0 auto;margin-top:12px;}
.scrollup table{margin:0 auto;}
.scrollup table td{font-size:12px;text-align:center;}
.scrollup table td p{color:#ff4141;}
.scrollup .scroll_main{height:100px;color:#636363;overflow:hidden;}
.scroll_origin li{line-height:22px;float:none;list-style:none;text-align:left;white-space:nowrap;}
.scrollup .scroll_main .linecols{float:left;}
.scrollup .scroll_main .linecols li{float:left;}
.scrollup .scroll_main .li_name{min-width:28px;}
.scrollup .scroll_main .li_phone{overflow:hidden;height:20px;padding-left:6px;}
.scrollup .scroll_main .li_num{overflow:hidden;padding-left:20px;}
.scrollup .scroll_main .li_enter{padding-left:52px;}
.scrollup .scroll_main ul li.clearfix{overflow:hidden;height:20px;}

/*历史回顾*/
.at-history{width:1200px;height:908px;margin:60px auto 0;}
.at-history .at-slide{position:relative;overflow:hidden;width:1200px;height:744px;margin-top:16px;}
.at-history .at-slide-pic{position:absolute;top:0;left:60px;width:1080px;height:744px;text-align:center;overflow:hidden;}
.at-history .at-slide-pic ul{position:absolute;height:744px;left:0;}
.at-history .at-slide-pic ul li{float:left;width:1080px;height:744px;overflow-y:inherit;}
/*.at-history .at-slide-pic ul li img{width:283px;height:760px;}*/
.at-history .s-dots{line-height:10px;position:absolute;z-index:2;top:90px;left:50%;width:1080px;height:10px;margin-left:-540px;text-align:center;display:none;}
.at-history .s-dots span,
.at-history .s-but .prev,
.at-history .s-but .prev:active,
.at-history .s-but .next,
.at-history .s-but .next,
.at-history .s-but .next:active{background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;}
.at-history .s-dots span{display:inline-block;width:10px;height:10px;margin-right:5px;cursor:pointer;background-position:-365px -180px;}
.at-history .s-dots span.set{background-position:-380px -180px;}
.at-history .s-but{position:absolute;z-index:3;top:0;left:50%;width:1200px;height:94px;margin-top:275px;margin-left:-600px;}
.at-history .s-but .prev,.at-history .s-but .next,.at-history .s-but .prev:active{display:block;width:38px;height:94px;cursor:pointer;}
.at-history .s-but .prev{float:left;background-position:0 -500px;}
.at-history .s-but .prev:hover{background-position:-45px  -500px;}
.at-history .s-but .prev:active{background-position:-90px -500px;}
.at-history .s-but .next{float:right;background-position:-135px -500px;}
.at-history .s-but .next:hover{background-position:-180px -500px;}
.at-history .s-but .next:active{background-position:-225px -500px;}
.at-history .slide-item{}
.at-history .at-slide-pic li p,.at-history .at-slide-pic li h5{text-align:center;color:#333;margin-top:15px;}
.at-history .act_address,.at-history .act_desc{font-size:16px;}
.at-history .hirtory_desc{width:1080px;height:94px;background:#F2F6FF;}
.at-history li h5.act_yj{font-size:26px;padding-top:16px;font-weight:normal;margin-top:0;}
.at-history li p.act_desc{margin-top:15px;font-size:18px;}
.at-history .at-slide-pic .imglist{width:1080px;height:644px;overflow:hidden;position:relative;margin-bottom:8px;}
.at-history .at-slide-pic .imglist img{vertical-align:middle;position:absolute;width:354px;height:318px;}
.at-history .at-slide-pic .imglist .img_0{left:0;top:0;}
.at-history .at-slide-pic .imglist .img_1{left:363px;top:0;}
.at-history .at-slide-pic .imglist .img_2{left:727px;top:0;}
.at-history .at-slide-pic .imglist .img_3{left:0;top:326px;}
.at-history .at-slide-pic .imglist .img_4{left:363px;top:326px;}
.at-history .at-slide-pic .imglist .img_5{left:727px;top:326px;}
.at-history .partbtn{width:290px;height:42px;margin:0 auto;}
.at-history .partbtn .partin{display:inline-block;font-size:24px;width:290px;height:40px;line-height:40px;text-align:center;color:#cd0000;border:1px solid #cd0000;margin-top:30px;}
.at-history .partbtn .partin:hover{background:#cd0000;color:#fff;}

/*活动须知*/
.at-notice{width:1200px;height:460px;margin:60px auto 0;}
.at-notice .notice_list{margin-top:16px;height:140px;}
.at-notice .notice_list li{width:212px;height:140px;float:left;}
.at-notice .notice_list li.sale-service{width:140px;}
.at-notice .notice_list li div{width:138px;height:138px;border:1px solid #B2E4FA;text-align:center;float:left;}
.at-notice .notice_list li .notice1{border-color:#B2E4FA;}
.at-notice .notice_list li .notice2{border-color:#FFD6B2;}
.at-notice .notice_list li .notice3{border-color:#F7B2C2;}
.at-notice .notice_list li .notice4{border-color:#FFE5B2;}
.at-notice .notice_list li .notice5{border-color:#EFD8FF;}
.at-notice .notice_list li .notice6{border-color:#FFD2D2;}
.at-notice .notice_list li i{display:block;background-image:url(../../static/images/index/base.png);background-repeat:no-repeat;margin:0 auto;}
.at-notice .notice_list li .notice1 i{width:46px;height:46px;background-position:-180px -435px;margin-top:20px;}
.at-notice .notice_list li .notice2 i{width:45px;height:43px;background-position:-240px -435px;margin-top:23px;}
.at-notice .notice_list li .notice3 i{width:43px;height:37px;background-position:-295px -435px;margin-top:29px;}
.at-notice .notice_list li .notice4 i{width:35px;height:55px;background-position:-358px -435px;margin-top:11px;}
.at-notice .notice_list li .notice5 i{width:50px;height:37px;background-position:-275px -385px;margin-top:29px;}
.at-notice .notice_list li .notice6 i{width:43px;height:38px;background-position:-340px -385px;margin-top:28px;}
.at-notice .notice_list li i.arrow_step{width:22px;height:32px;background-position:-390px -385px;float:left;margin:55px 0 0  25px;}
.at-notice .notice_list li p{font-size:16px;color:#333;margin:10px 0 5px 0;}
.at-notice .notice_list li span{color:#848484;}
.at-notice .notice_detail{width:1198px;height:118px;border:1px solid #f2d0d8;margin-top:40px;}
.at-notice .notice_left{width:680px;padding:0 0 0 15px;}
.at-notice .notice_right{padding:0 0 0 15px;}
.at-notice .notice_detail p{font-size:18px;color:#333;margin-top:15px;}
.at-notice .notice_detail p span{display:inline-block;width:20px;height:20px;background:#cd0000;color:#fff;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#bf153d;margin-right:6px;background:#DB0238;}

/*家博会介绍*/
.at-introduce{width:1200px;margin:0 auto;}
.at-introduce .introduce-wrap{width:1162px;height:424px;padding:24px 18px 16px 18px;margin-top:16px;border:1px solid #E5E5E5;overflow:hidden;}
.at-introduce .introduce-atjbh{width:614px;height:400px;}
.at-introduce .introduce-atjbh p{font-size:16px;color:#333;line-height:30px;text-indent:32px;}
.at-introduce .introduce-atjbh ul{margin-right:-22px;margin-top:36px;}
.at-introduce .introduce-atjbh ul li{width:190px;height:132px;overflow:hidden;float:left;margin-right:22px;}
.at-introduce .introduce-img{float:left;margin:8px 0 0 44px;}

/*合作媒体*/
.at-media{width:1200px;margin:60px auto 0;}
.at-media .media-wrap{width:1200px;margin-top:16px;}
.at-media .left-wrap{width:544px;}
.at-media .right-wrap{width:596px;margin-left:60px;}
.at-media .left-wrap li{float:left;width:266px;height:128px;border:1px solid #dcdcdc;margin:0 8px 8px 0;}
.at-media .left-wrap ul,.at-media .right-wrap ul{margin-right:-8px;}
.at-media .right-wrap li{float:left;width:292px;height:335px;border:1px solid #dcdcdc;margin:0 8px 8px 0;}


/*口碑与心声*/
.at-voice{width:1200px;margin:52px auto 35px;}
.at-voice .at-owner{margin-top:16px;}
.at-voice .kb-title{font-size:24px;color:#333;padding-bottom:5px;border-bottom:2px solid #DB0238;display:inline-block;font-weight:normal;}
.at-voice .warn{overflow:hidden;height:470px;}
.at-voice .warn .yz-videos{width:1200px;margin:30px auto 0;}
.at-voice .warn .yz-videos ul{width:1200px;margin:0 auto;}
.at-voice .warn .yz-videos li{float:left;width:580px;height:389px;margin:0 0 28px 0;background:#E5ECFF;}
.at-voice .warn .yz-videos li.mr{margin-right:40px;}
.at-voice .warn .yz-videos .yzxx{line-height:64px;height:64px;background:#E5ECFF;}
.at-voice .warn .yz-videos .yzxx span.l{font-size:20px;margin-left:14px;color:#666;}
.at-voice .warn .yz-videos .yzxx span.r{font-size:24px;margin-right:20px;color:#2a2a2a;}
.at-voice .warn .yz-videos .yzvideo-wrap{overflow:hidden;width:580px;height:325px;background:#E5ECFF;}
/*.warn{overflow:hidden;height:800px;background:#64077c;}
.warn .warn-wrap{overflow:hidden;width:743px;height:194px;margin:22px auto 0;text-align:center;background:url(../../static/images/20160521/homepage/warn_bak.png) right top no-repeat;}
.warn .warn-wrap .xssf{font-size:56px;font-weight:bold;line-height:124px;margin-top:54px;color:#ffd117;}
.warn .warn-wrap .shyz{font-size:17px;line-height:14px;color:#fff;}
.warn .yz-videos{width: 1200px;margin:68px auto 0;border: 1px solid red;height: 500px;}
.warn .yz-videos ul{width:980px;margin:0 auto;}
.warn .yz-videos li{float:left;width:434px;height:325px;margin:0 56px 28px 0;}
.warn .yz-videos .yzxx{line-height:62px;height:62px;margin-top:-8px;background:#fff;}
.warn .yz-videos .yzxx span.l{font-size:18px;margin-left:14px;}
.warn .yz-videos .yzxx span.r{font-size:20px;margin-right:20px;}
.warn .yz-videos .yzvideo-wrap{overflow:hidden;width:434px;height:325px;background:#000;}*/
.at-voice .alibi{overflow:hidden;background:#fff;width:1200px;margin-top:35px;}
.at-voice .alibi .alibi-tab{width:1200px;}
.at-voice .alibi .alibi-tab ul{}
.at-voice .alibi .alibi-tab li{font-size:12px;line-height:28px;float:left;width:113px;height:28px;margin-right:40px;cursor:pointer;text-align:center;color:#fff;background:#BFD1FF;}
.at-voice .alibi .alibi-tab li.active{font-weight:bold;color:#6d96ff;}
.at-voice .alibi .tab-wrap{padding-top:20px;}
.at-voice .alibi .tab-box,.at-voice .alibi .questions{width:1200px;}
.at-voice .alibi .tab-box .tab-title{margin:19px 0 10px;border-bottom:1px solid #e5e5e5;}
.at-voice .alibi .tab-box .tab-title span{font-size:18px;font-weight:bold;line-height:36px;}
.at-voice .alibi .tab-box .tab-title span.l{color:#2a2a2a;}
.at-voice .alibi .tab-box .tab-title span.r{color:#6d96ff;}
.at-voice .alibi .tab-box .tab-text{font-size:16px;line-height:26px;color:#999;}
.at-voice .at-qa{margin-top:40px;}
.at-voice .at-qa .kb-title{margin-bottom:35px;}
.at-voice .answer-wrap{padding-bottom:24px;}
.at-voice .questions .question{font-size:18px;line-height:18px;height:36px;cursor:pointer;color:#2a2a2a;border-bottom:1px solid #e5e5e5;}
.at-voice .questions p i{display:inline-block;width:20px;height:21px;margin:0 16px -5px 0;background:url(../../static/images/20160521/homepage/iconbg.png) no-repeat;}
.at-voice .questions .question i{background-position:-430px -375px;}
.at-voice .questions .answer{font-size:16px;line-height:24px;margin-top:13px;padding-bottom:17px;color:#999;border-bottom:1px solid #e5e5e5;}
.at-voice .questions .answer span{display:inline-block;width:1162px;}
.at-voice .questions .answer i{float:left;background-position:-460px -375px;}

/*手机弹窗*/
.message-wrap{padding-left:26px;}
.message-wrap p{font-size:22px;font-weight:bold;line-height:22px;margin-top:14px;color:#bf153d;}
.message-wrap .int-wrap{margin-top:26px;}
.message-wrap .int-wrap input{font-family:'Microsoft Yahei';float:left;width:298px;height:38px;margin-right:12px;padding-left:14px;border:1px solid #dcdcdc;}
.message-wrap .int-wrap button{font-family:'Microsoft Yahei';font-size:15px;width:158px;height:40px;color:#fff;border:0 none;background:#bf153d;}

/*地图弹窗*/
.map-mask{position:fixed;z-index:88888;top:0;left:0;display:none;width:100%;height:100%;opacity:.8;background:#000;filter:alpha(opacity=80);}
.map-wrap{position:fixed;z-index:99999;top:50%;left:50%;margin-top:-140px;margin-left:-595px;}
.map-wrap a.close-map{position:absolute;top:18px;right:12px;width:16px;height:16px;background:url(../../static/images/common/common.png) -80px -50px no-repeat;}

/*领票弹窗*/
.from-wrap .form{width:440px;padding:0 0 0 40px;}
.from-wrap .form .font-24{font-size:24px;font-weight:bold;line-height:24px;margin-bottom:10px;color:#bf153d;}
.from-wrap .form .place{font-size:16px;line-height:14px;margin:16px 0 16px;color:#000;}
.from-wrap .form .base-input{width:430px;height:53px;margin:20px auto 0;background-position:0 -640px;}
.from-wrap .form .base-input input{line-height:41px;width:416px;height:41px;padding:5px 0 5px 12px;}
.from-wrap .form .base-input .js_tips{line-height:53px;}
.from-wrap .form .button{margin:16px 0 40px;text-align:center;}
.from-wrap .form .button button{font-family:'Microsoft Yahei';font-size:17px;width:430px;height:53px;color:#fff;border:0 none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#bf153d;}
.from-wrap .form .verify-wrap{width:430px;margin:20px auto 0;}
.from-wrap .form .verify-input{width:217px;height:55px;margin:0;background-position:-300px -520px;}
.from-wrap .form .verify-wrap .verify-code{line-height:43px;width:193px;height:43px;padding:5px 0 5px 12px;}
.from-wrap .form .verify-wrap .verify-img{margin:12px 3px 0 6px;}
.from-wrap .form .verify-wrap .js_rush{line-height:55px;}

/*选择城市*/
.city-layer{position:absolute;z-index:11;z-index:99998;top:0;left:0;display:none;width:100%;height:100%;opacity:.8;background:#000;filter:alpha(opacity=80);}
.city-chose{position:fixed;z-index:12;z-index:99999;top:50%;left:50%;display:none;width:484px;height:160px;margin-top:-82px;margin-left:-257px;padding-left:26px;border:2px solid #cd0000;background:#fff;}
.city-chose a:hover{text-decoration:underline;}
.city-chose .left-box{width:296px;}
.city-chose .left-box a{color:#cd0000;}
.city-chose dl{line-height:40px;}
.city-chose .guess{padding-top:22px;}
.city-chose .guess dt{font-size:16px;margin-right:28px;color:#2a2a2a;}
.city-chose .guess dd a{font-size:22px;}
.city-chose .hot-city{margin-bottom:16px;padding-bottom:6px;border-bottom:1px solid #cacaca;}
.city-chose .hot-city dt{margin-right:36px;color:#2a2a2a;}
.city-chose .hot-city dd a{float:left;margin-right:12px;*margin-right:11px;}
.city-chose .left-box .more-city{text-align:center;}
.city-chose .left-box .more-city a{color:#2a2a2a;}
.city-chose .right-box{position:relative;width:188px;}
.city-chose .right-box img{margin:30px 0 0 16px;}
.city-chose .right-box .close-chose{position:absolute;top:9px;right:9px;width:16px;height:16px;text-indent:-999999px;border:0 none;background:url(../../static/images/common/common.png) -105px -50px no-repeat;}

/*首页底部*/
.footer .service{padding-bottom:56px;}
.leftslider{position:fixed;z-index:11;top:50%;left:50%;display:none;margin:-269px 0 0 -643px;}
.leftslider.leftwrap{margin:-250px 0 0 -643px;}
.leftslider ul{width:36px;/*height:537px;*/color:#2a2a2a;background:#fff;overflow:hidden;}
.leftslider ul li{font-size:12px;height:28px;position:relative;width:30px;text-align:center;border-bottom:1px solid #fff;background:#626262;color:#fff;line-height:15px;padding:2px 3px 5px 3px;}
.leftslider ul li.at-nav{background:#DB0235;line-height:36px;padding-top:0;}
.leftslider ul li.fnav:hover,.leftslider ul li.fnav.active{background:#E2355D;}
.leftslider ul li a{color:#fff;-webkit-transition:-webkit-transform .1s ease-in;-moz-transition:-moz-transform .1s ease-in;-o-transition:-o-transform .1s ease-in;transition:transform .1s ease-in;}
.leftslider ul li.active a,.leftslider ul li.active:hover a{color:#fff;}
.leftslider ul li.bbn{border-bottom:0;}
.leftslider ul li.top{background:#ababab;}
.leftslider ul li.top a{display:block;width:24px;height:26px;margin:2px auto 0;background:url(../../static/images/index/base.png) -150px -155px no-repeat;}
.leftslider ul li.top:hover a{background-position:-180px -155px;}
.leftslider ul li.fl5.hidefl5,.leftslider ul li.fl9.hidefl9{height:0;padding:0;}

/*补丁*/
.load-img{display:inline;width:20px;height:20px;margin:0 4px -4px 0;}
.ui-dialog .ui-dialog-titlebar{height:42px;background:#fff;}
.ui-dialog .ui-dialog-titlebar button{background:url(../../static/images/common/common.png) -80px -50px no-repeat;}
.extradialog .title{width:100%;height:40px;}
.extradialog .title p{font-size:20px;padding-left:40px;}
.extradialog .extra_wrap{width:100%;height:270px;}
.extradialog .left_wrap{float:left;width:280px;}
.extradialog .right_wrap{float:left;width:324px;}
.extradialog .left_wrap .detail{width:100%;height:200px;}
.extradialog .left_wrap .detail img{display:block;margin:12px 0 0 40px;}
.extradialog .left_wrap p{font-size:18px;padding-top:20px;text-align:center;}
.extradialog .left_wrap p.grey{font-size:14px;padding-top:0;color:#a5a5a5;}
.extradialog .left_wrap p.desc{font-size:15px;width:142px;margin:0 auto;}
.extradialog .left_wrap .detail p.name{font-size:24px;font-weight:bold;line-height:30px;padding-top:50px;}
.extradialog.voucherdialog .left_wrap .detail p.desc{font-size:20px;width:auto;}
.extradialog.voucherdialog .left_wrap .detail p span{color:#cd0000;}
.extradialog .forminput{position:relative;width:280px;height:40px;margin-top:18px;}
.extradialog .forminput input,.extradialog .forminput span{line-height:40px;position:absolute;top:0;height:40px;}
.extradialog .forminput input{font-family:'Microsoft Yahei';left:0;width:274px;padding-left:6px;border:1px solid #ddd;}
.extradialog .forminput span{left:6px;color:#a5a5a5;}
.extradialog .orderbtn{margin-top:20px;}
.extradialog .orderbtn button{font-family:'Microsoft Yahei';font-size:18px;width:282px;height:40px;cursor:pointer;color:#fff;border:0;background:#cd0000;}
.extradialog .orderbtn button:hover{background:#ef0505;}
.extradialog .form .verify-input{position:relative;width:88px;height:40px;outline:0;}
.extradialog .form .verify-wrap{margin-top:15px;}
.extradialog .form .verify-input .verify-code{font-family:'Microsoft Yahei';position:absolute;top:1px;left:1px;width:74px;height:38px;padding-left:12px;border:0 none;}
.extradialog .form .base-input input{line-height:26px;height:26px;padding:6px 0 6px 12px;}
.extradialog .form .verify-input .verify-code{line-height:26px;height:26px;padding:6px 0 6px 6px;border:1px solid #ddd;}
.extradialog .form .verify-wrap .verify-img{margin:4px 4px 0 6px;cursor:pointer;}
.extradialog .form .verify-wrap .js_rush{font-family:'Microsoft Yahei';font-size:12px;line-height:42px;color:#ababab;}
.extradialog .right_wrap p.num{font-size:14px;width:282px;margin-top:25px;text-align:center;color:#cd0000;}
.extradialog .right_wrap .unitprice{width:100%;height:32px;}
.extradialog .right_wrap .unitprice p{float:left;color:#a5a5a5;}
.extradialog .right_wrap .unitprice p.original{width:148px;}
.extradialog .right_wrap .unitprice p em{font-style:normal;float:left;}
.extradialog .right_wrap .unitprice p span{font-size:26px;line-height:32px;display:inline-block;float:left;height:32px;margin-top:-9px;color:#cd0000;}
.extradialog.specialdialog .left_wrap .detail{height:223px;}
.extradialog.specialdialog .left_wrap p.grey{padding-left:40px;text-align:left;}
.extradialog.specialdialog .right_wrap{padding-top:5px;}
.bottom-sign .fix-wrap .open-dialog{background:url(../../static/images/20160521/homepage/blank.png) repeat;}


/*友情链接*/
.footer .service .blogroll{overflow:hidden;width:100%;margin:24px 0 26px 0;}
.footer .service .blogroll dt{font-size:18px;line-height:18px;margin-bottom:12px;color:#9d9d9d;}
.footer .service .blogroll dd a{font-size:12px;line-height:23px;float:left;margin-right:32px;color:#666;}
.footer .service .blogroll dd a:hover{color:#ec3833;}


/*PC验证码样式（可放公用）*/
.code-wrap{width:395px;margin:40px auto;}
.code-wrap .code-img{height:52px;line-height:52px;}
.code-wrap .code-img img{cursor:pointer;}
.code-wrap .code-img i{display:inline-block;width:26px;height:23px;background:url(../..../../static/images/common/common.png) -300px -312px no-repeat;margin:0 0 14px 18px;cursor:pointer;}
.code-wrap .code-img span{float:right;font-size:14px;line-height:52px;color:#383838;}
.code-wrap .code-img span>a{color:#18b4ed;}

.code-wrap .submit-wrap{padding-top:12px;}
.code-wrap .submit-wrap .code-input{width:393px;height:38px;line-height:38px;border:1px solid #cacaca;border-radius:4px;font-size:14px;margin:20px auto 0;background:#fff;text-align:center;}
.code-wrap .submit-wrap .code-submit{width:395px;height:40px;line-height:40px;background:#d10024;border-radius:4px;font-size:18px;color:#fff;margin:20px auto 0;border:0 none;}