<header class="main-header">
    <!-- Logo -->
    <a href="<?=creat_url('main')?>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>NB</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>NiceBuy</b> </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">导航切换</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="<?=creat_url('sign/out')?>">
                        <i class="glyphicon glyphicon-log-out"></i>
                        <span class="hidden-xs">退出</span>
                    </a>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar" title="设置"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>